main {
  flex-grow: 1;
  display: flex;
}

.body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

.content-horizontally {
  display: flex;
  width: 100%;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fi {
    width: 20px;
    border-radius: 5px;
}