.custom-select-container {
    display: flex;
}

.custom-select {
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}

.options-list {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 4px;
    margin: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
}

.option {
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

.option:hover {
    background-color: #f5f5f5;
}

.option.selected {
    background-color: #007bff;
    color: white;
}


/* Reduce the width of the scrollbar */
.options-list::-webkit-scrollbar {
    width: 4px;
    padding-left: 5px;
}

/* Style the scrollbar track */
.options-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Style the scrollbar thumb */
.options-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

/* When the scrollbar is hovered */
.options-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}