.driver-review {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
    background-color: #f5f5f5;
    width: 13%;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid rgb(150, 54, 191);
    margin: 2px;
}
    
.driver-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.driver-name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.driver-nationality::before {
    content: "Nationality: ";
    font-weight: bold;
}

.driver-nationality {
    margin: 3px;
    text-align: center;
}

.driver-age::before {
    content: "Age: ";
    font-weight: bold;
}

.driver-age {
margin: 3px;
}

.driver-races::before {
    content: "Races: ";
    font-weight: bold;
}

.driver-races {
    margin: 3px;
}

.driver-wins::before {
    content: "Wins: ";
    font-weight: bold;
}

.driver-wins {
    margin: 3px;
}

.driver-titles::before {
    content: "Titles: ";
    font-weight: bold;
}

.driver-titles {
    margin: 3px;
}

.link {
    margin: 3px;
}