.driver-review {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
    background-color: #f5f5f5;
    width: 13%;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid rgb(150, 54, 191);
    margin: 2px;
}

.driver-review:hover {
    background-color: #38383f;
    color: #ffffff;
}

.driver-review:hover .link a{
    color: #ffffff;
}
    
.driver-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.driver-review p::before {
    content: attr(data-label);
    font-weight: bold;
}


.driver-name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


.driver-nationality {
    margin: 3px;
    text-align: center;
}

.driver-age {
margin: 3px;
}

.driver-races {
    margin: 3px;
}

.driver-wins {
    margin: 3px;
}

.driver-titles {
    margin: 3px;
}

.link {
    margin: 3px;
}