.race-details{
  display: flex;
  border: 6px solid #d61e1e;
  border-radius: 10px;
  justify-content: space-around;
  margin: 0 10px 0 10px;
}
  
.race-details p {
  font-size: 1.3em;
}

.race-details p::before {
  content: attr(data-label);
  font-weight: bold;
}
  
.button-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.button-container button{
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    font-weight: bold;
}

.button-container button:hover{
    background-color: var(--hover-color);
    color: white;
}

