.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fi {
    width: 20px;
    border-radius: 5px;
}

.race-details{
    display: flex;
    border: 6px solid #d61e1e;
    border-radius: 10px;
    justify-content: space-around;
    margin: 0 10px 0 10px;
  }
  
  .race-details p {
    font-size: 1.3em;
  }
  
  .circuit::before {
    content: "Circuit: ";
    font-weight: bold;
  }
  
  .location::before {
    content: "Location: ";
    font-weight: bold;
  }
  
  .date::before {
    content: "Date: ";
    font-weight: bold;
  }
  
  .round::before {
    content: "Round: ";
    font-weight: bold;
  }
  
  .standings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.button-container button{
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    font-weight: bold;
}

.button-container button:hover{
    background-color: var(--hover-color);
    color: white;
}

