:root {
  --Mercedes-color: #00d2be;
  --RedBull-color: #0600ef;
  --Ferrari-color: #dc0000;
  --hover-color: #38383f;
  --McLaren-color: #ff8700;
  --RacingPoint-color: #f596c8;
  --ForceIndia-color: #f596c8;
  --Renault-color: #fff500;
  --AlpineF1Team-color: #0090ff;
  --HaasF1Team-color: #FFFFFF;
  --AstonMartin-color: #006F62;
  --AlphaTauri-color: #2B4562;
  --AlfaRomeo-color: #900000;
  --Williams-color: #005AFF;
  --ToroRosso-color: #0032FF;
  --Catheram-color: #005030;
  --BmwSauber-color: #ffffff;
  --Hrt-color: #D6C39A; 
  --Manor-color: #006DC1;
  --Lotus-color: #86995B;
  --Brawn-color: #ccff00;
}


.standings-horizontally {
  display: flex;
  justify-content: center;
}

.standings-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
}

caption {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.standing-table {
  width: auto;
  min-width: 600px;
  margin: 20px;
  margin-top: 0px;
}

.race {
  border-collapse: separate;
  border-spacing: 0px;
  width: auto;
}

.race tr:last-child td{
  border-bottom: 1px solid #ccc;
}

.race tr td:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
}

.race tr td:last-child {
  border-right: 1px solid #ccc;
  border-radius: 0 10px 10px 0;
}

.race tr th:nth-child(1) {
  border-left: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
}

.race tr th:last-child {
  border-right: 1px solid #ccc;
  border-radius: 0 10px 10px 0;
}

.champ tr {
  padding: 0;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #f9f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.race tr {
  padding: 0;
  transition: 0.3s;
  cursor: pointer;
}

tr.table-content th {
  font-size: 1.2rem;
  text-align: center;
  padding: 8px;
  border-top: 1px solid #ccc;
  background-color: #f9f8f8;
}

tr.table-content td {
  font-size: 1.2rem;
  text-align: center;
  padding: 8px;
}

.race td {
  border-top: 1px solid #ccc;
  background-color: #f9f8f8;
}

tr.table-content td .position {
  border-right: 5px solid var(--Mercedes-color);
  padding-right: 10px;
  font-weight: bold;
}

tr.table-content td .driver-name {
  margin: 0;
  margin-left: 10px;
  margin-right: 5px;
}

tr.table-content td .driver-surname {
  font-weight: bolder;
  text-transform: uppercase;
  margin-right: 5px;
}

tr.table-content td .team {
  font-size: 1rem;
  color: #666;
  margin-left: 10px;
}

tr.table-content td .points {
  background-color: #ccc;
  border-radius: 50px;
  font-size: 1.1rem;
  padding: 0 10px;
}


tr.table-content td i {
  margin-left: 20px;
  color: #e10600;
  font-size: 18px;
}

/* HOVER */

.champ tr:hover{
  background-color: var(--hover-color);
  color: #ffffff;
}

.race tr:hover td{
  background-color: var(--hover-color);
  color: #ffffff;
}


tr:hover .points {
  color: black;
}

table .table-content.Ferrari .position {
  border-right: 5px solid var(--Ferrari-color);
}

table .table-content.McLaren .position {
  border-right: 5px solid var(--McLaren-color);
}

table .table-content.RedBull .position {
  border-right: 5px solid var(--RedBull-color);
}

table .table-content.RacingPoint .position {
  border-right: 5px solid var(--RacingPoint-color);
}

table .table-content.AstonMartin .position {
  border-right: 5px solid var(--AstonMartin-color);
}

table .table-content.Renault .position {
  border-right: 5px solid var(--Renault-color);
}

table .table-content.AlpineF1Team .position {
  border-right: 5px solid var(--AlpineF1Team-color);
}

table .table-content.AlphaTauri .position {
  border-right: 5px solid var(--AlphaTauri-color);
}

table .table-content.AlfaRomeo .position {
  border-right: 5px solid var(--AlfaRomeo-color);
}

table .table-content.Williams .position {
  border-right: 5px solid var(--Williams-color);
}

table .table-content.HaasF1Team .position {
  border-right: 5px solid var(--HaasF1Team-color);
}

table .table-content.ToroRosso .position {
  border-right: 5px solid var(--ToroRosso-color);
}

table .table-content.ForceIndia .position {
  border-right: 5px solid var(--RacingPoint-color);
}

table .table-content.Sauber .position {
  border-right: 5px solid var(--AlfaRomeo-color);
}

table .table-content.LotusF1 .position {
  border-right: 5px solid var(--Lotus-color);
}

table .table-content.Brawn .position {
  border-right: 5px solid var(--Brawn-color);
}

.but-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 0px;
}
  
.view-race{
  border-color: transparent;
  border-radius: 10px;
  background-color: #d61e1e;
  color: white;
  font-weight: bold;
  padding: 8px;
}

button:hover {
  background-color: var(--hover-color);
}
